<div class=" ui text container" style="margin-bottom:2%">
<h1 class="ui header" style="text-align:center">Rekognition: A CCExtractor GSoC Project</h1>
<img src='static/images/gsoc-cc.png'/i style="width:100%"><br><br>

<h3 class="ui header" style="text-align:center">Training the Face Recognition System</h3>
            <div class="fluid ui buttons">
              <button class="ui positive button" id="face-add" onClick="$('#my-awesome-dropzone').show();">Add Faces</button>
              <div class="or"></div>
              <button class="ui button" id="change-celeb" onClick="reset();">Reset</button>
              <div class="or"></div>
              <button class="ui button negative" id="change-celeb" onClick="reset();train();">Train</button>
            </div>

        <form id="my-awesome-dropzone" action="/upload_photos" class="dropzone" hidden>  
            <div class="dz-message" data-dz-message><span>Drop Training Images Here.<br>
                (Prefix each i<sup>th</sup> image of actor <i>xyz</i> as <i>xyz_i.png</i>)</span></div>
            <div class="dropzone-previews"></div>
            <div class="fallback"> <!-- this is the fallback if JS isn't working -->
                <input name="file" type="file" multiple />
            </div>
        </form>

<hr>


<h3 class="ui header" style="text-align:center">Customizing the Modules</h3>
<div class="ui labeled fluid icon top right pointing dropdown button" id="customizedUnit">
  <i class="filter icon"></i>
  <span class="text">Add/Edit Customization</span>
  <div class="menu">
    <div class="ui search icon input">
      <i class="search icon"></i>
      <input type="text" name="search" placeholder="">
    </div>
    <div class="divider"></div>
    <div class="header">
      <i class="search icon"></i>
      Face Detectors
    </div>
    <div class="item" data-value="FD">
      violaJones
    </div>
    <div class="item" data-value="FD">
      faceBoxes
    </div>
    <div class="divider"></div>
    <div class="header">
      <i class="calendar icon"></i>
      Face Alignment
    </div>
    <div class="item" data-value="FA">
        None
    </div>
    <div class="item" data-value="FA">
      kazemiSullivan
    </div>
    <div class="divider"></div>
    <div class="header">
      <i class="calendar icon"></i>
      Face Embedder
    </div>
    <div class="item" data-value="FE">
      mobileFaceNet
    </div>
  </div>
</div>
<br>
<textarea class="lined" rows="10" hidden></textarea>
<div class="four wide field">
        <div class="ui blue fluid button disabled" id="submission" onClick="addUnit();">Add Unit</div>
</div>

<hr>

<h3 class="ui header" style="text-align:center">Upload the video</h3>
<form class="dropzone" id="video-dropzone">
<div class="dz-message" data-dz-message><span>Drop Testing .mp4 Here</div>
</form>

<br>
<button class="fluid ui positive button" id="final-button" onClick="detectFaces()" style="display:none">Find the Celebrities!</button>
<br>

<hr>

<div>
<div class="four wide field" id="videoButton" style="display:none">
        <div class="ui blue fluid button" id="submission" onClick="generateVideo();">Generate Video</div>
</div>

<div class="ui" id="correctionDiv" style="display:none">
    <div class="ui input" style="width:49%">
      <input type="text" placeholder="Bounding Box ID..." id="bbox-tbox">
    </div>
    <div class="ui input" style="width:50%;align:right">
      <input type="text" placeholder="Actor Name..." id="name-tbox">
    </div>
    <button class="ui fluid positive button" id="final-button" onClick="giveFeedback()">Submit Feedback</button>
</div>

<div id='video-loc' style="display:none">
<video controls style="width:100%" >
  <source src="/static/video/final.mp4" type='video/mp4' id='video-src'>
</video>
</div>

<div id="table-div" style="width:100%">
</div>

</div>

